body{
    background-color: #282a36;
    margin: 0;
}

h1{
    margin: 15px 0 15px 0;
    color: beige;
    font-size: 2.5rem;
    font-family: 'Arial Narrow';
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.square{
    width: 100px;
    height: 100px;
    display: flex;
    place-items: center;
    place-content: center;
    margin: 0;
    background-color: #282a36;
}

.stage{
    margin: 0;
    align-self: center;
    margin-bottom: #282a36;
    padding: 0;
    height: 300px;
    width: 300px;
}

.infos{
    height: 300px;
    width: 300px;
    border: solid 3px #d199f1;
    margin: 50px;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Arial Narrow';
    font-size: 1.5rem;
}

.border-bottom{
    border-bottom: solid 3px #a298b3;
}

.border-right{
    border-right: solid 3px #a298b3;
}

.row, .border-bottom{
    display: flex;
    flex-direction: row;
}

.x,.o{
    font-size: 3rem;
    line-height: 100px;
    position: relative;
}

.o{
    color: #4c6ef5;
}

.x{
    color: #ef5350;
}

.player{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#active{
    background: #af4de791;
}

.player p{
    color: white;
    display: inline-block;
    margin: 10px;
}

button{
    width: 100%;
    padding: 15px;
    background: #af4de7;
    border: none;
    color: white;
    font-size: large;
    font-family: 'arial narrow';
    text-transform: uppercase;
    margin-top: 15px;
    transition: 0.5s;
    border-radius: 10px;
}

button:hover{
    background: #d199f1;
}

.icon{
    color: #1b9947;
    margin-left: 10px;
}

.icon-x{
    color: #4c6ef5;
}

.icon-o{
    color: #ef5350;
}

@media screen and (max-width: 700px) {
    .container{
        flex-direction: column;
    }
}